@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");

.body {
  background-color: rgb(238, 238, 238);
}

#navbar {
  text-shadow: 2px solid rgb(0, 0, 0);
}
#login-link {
  text-decoration: none;
  color: black;
}
